<%= form_for(@barrel) do |f| %>
  <% if @barrel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barrel.errors.count, "error") %> prohibited this barrel from being saved:</h2>

      <ul>
      <% @barrel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :net_weight %><br>
    <%= f.text_field :net_weight %>
  </div>
  <div class="field">
    <%= f.label :tare %><br>
    <%= f.text_field :tare %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
