<%= form_for(@barrels_income) do |f| %>
  <% if @barrels_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barrels_income.errors.count, "error") %> prohibited this barrels_income from being saved:</h2>

      <ul>
      <% @barrels_income.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nro_remit %><br>
    <%= f.text_field :nro_remit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
