<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listing Producers</h3>                                    
      </div><!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Dni</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Renapa</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @producers.each do |producer| %>
            <tr>
              <td><%= producer.dni %></td>
              <td><%= producer.name %></td>
              <td><%= producer.last_name %></td>
              <td><%= producer.telephone %></td>
              <td><%= producer.address %></td>
              <td><%= producer.renapa %></td>
              <td><%= link_to 'Show', producer %></td>
              <td><%= link_to 'Edit', edit_producer_path(producer) %></td>
              <td><%= link_to 'Destroy', producer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <div class="box-footer">
        <%= link_to 'New Producer', new_producer_path, class:"btn btn-primary"%>
      </div>

    </div><!-- /.box-body -->
</div><!-- /.box -->