<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @producer.dni %>
</p>

<p>
  <strong>Name:</strong>
  <%= @producer.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @producer.last_name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @producer.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @producer.address %>
</p>

<p>
  <strong>Renapa:</strong>
  <%= @producer.renapa %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
