<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
        <li>
          <%= link_to 'Producers', '/producers' %>
        </li>
        <li>
            <%= link_to 'Barrels', '#' %>
        </li>
        <li>
            <%= link_to 'Drawer', '#' %>
        </li>
        <li>
            <%= link_to 'Wax', '#' %>
        </li>
        <li>
            <%= link_to 'Incomes', '#' %>
        </li>
      </ul>
    </section>
                <!-- /.sidebar -->
  </aside>

  <aside class="right-side">
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
      <%= yield %>
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->